@page "/page3"
<h3>Page3</h3>

<AuthorizeView>
    <Authorized>
        <div>
            You were AUTHORIZED
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            NOT AUTHORIZED!
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

}
