@page "/page3"

@inject AuthenticationStateProvider _authenticatedStateProvider;

<h3>Page3</h3>

<AuthorizeView>
    <Authorized>
        <div>
            You were AUTHORIZED
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            NOT AUTHORIZED!
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Get current user
            var authState = await _authenticatedStateProvider.GetAuthenticationStateAsync();
            var username = authState.User.Identity.Name;
            username = username != null ? username : "Unknown user";

            // Get the users personal folder (OS Agnostic)
            string userDirectory = Environment.GetFolderPath(Environment.SpecialFolder.UserProfile);

            // Append username to file.
            string filePath = Path.Combine(userDirectory, "sample.txt");
            await System.IO.File.AppendAllTextAsync(filePath, username);

            // Save copy with appended name serverside:
            string rootPath = System.IO.Directory.GetCurrentDirectory();
            string serverPath = Path.Combine(rootPath, "wwwroot", "sample.txt");
            await System.IO.File.AppendAllTextAsync(serverPath, username);
        }
        catch (Exception ex)
        {
        }
    }
}
